body
{
    padding: 0;
    margin: 0;
}
html
{
    padding: 0;
    margin: 0;
}
.ee-container
{
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

a
{
    text-decoration: none;
}

.web-app-name
{
    font-family: FiraCode-Light, sans-serif;
    font-size: 36px;
    color: #CD5475;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.menu-item:hover
{
    background-color: #ff836c !important;
}

.menu-item-bottom:hover
{
    background-color: #CD5475 !important;
}

.menu-item
{
    font-family: FiraCode-Light, sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: 256px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    font-size: 24px !important;
    color: #ffffff;
    text-align: center;
    background-color: #CD5475;
    border-radius: 128px;
}
.bottom-title > h3
{
    font-family: FiraCode-Light, sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px !important;
    color: #CD5475;
    text-align: center;
}
.menu-item-bottom
{
    font-family: FiraCode-Light, sans-serif;
    padding-top: 14px;
    padding-bottom: 14px;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    font-size: 20px !important;
    color: #ffffff;
    text-align: center;
    background-color: #ff836c;
    border-radius: 128px;
}
.bottom-contacts
{
    margin-top: 72px;
    margin-bottom: 72px;
}
.description-title > h1
{
    font-size: 26px !important;
    font-family: FiraCode-Light, sans-serif;
    font-weight: lighter;
}
.description > h2
{
    font-size: 18px !important;
    font-family: FiraCode-Light, sans-serif;
    font-weight: lighter;
}
.description-title
{
    font-family: FiraCode-Light, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 26px;
    color: #333333;
    text-align: center;
}
.description
{
    font-family: FiraCode-Light, sans-serif;
    padding-top: 8px;
    padding-bottom: 32px;
    font-size: 16px;
    color: #676767;
    text-align: center;
}

.sub-menu-item
{
    font-family: FiraCode-Light, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 28px;
    color: #808080;
    text-align: center;
}
.ee-content
{
    margin-top: 3%;
    width: 100%;
}
.ee-header
{
    position: fixed;
    -webkit-backdrop-filter: saturate(180%) blur(16px);
    backdrop-filter: saturate(180%) blur(16px);
    background: rgba(20, 20, 20, .7);
    width: 100%;
}
#logo
{
    display: block;
    width: 380px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
}
.prompt-img
{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}
.prompt-contacts
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.prompt-contacts > a
{
    display: inline-flex;
}
.prompt-contact-icon
{
    display: block;
    width: 48px;
    height: 48px;

}
.prompt-desc
{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-family: FiraCode-Light, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    color: #333333;
}
.prompt-row
{
    padding-top: 32px;
    padding-bottom: 32px;
}
.logo > img
{

}
.top-main-splash
{
    width: 100%;
    padding: 0;
    margin: 0;
}

#topMainSplash
{
    display: block;
    width: 100%;
}
.header-menu-items-container
{
    max-width: 1179px;
    margin-left: auto;
    margin-right: auto;
}
.header-menu-item
{
    font-family: FiraCode-Light, sans-serif;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #ffffff;
    height: 100%;
    text-align: center;
}
@media screen and (max-width: 900px) {
    #logo {
        width: 200px;
        height: 200px;
    }

    .description-title
    {
        font-family: FiraCode-Light, sans-serif;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 18px;
        color: #333333;
        text-align: center;
        padding-right: 64px;
        padding-left: 64px;
    }
    .description
    {
        font-family: FiraCode-Light, sans-serif;
        padding-top: 8px;
        padding-bottom: 32px;
        font-size: 14px;
        color: #676767;
        text-align: center;
        padding-right: 32px;
        padding-left: 32px;
    }
    .web-app-name
    {
        font-size: 26px;
        padding-right: 64px;
        padding-left: 64px;
    }

}
